secrets.key
*/secrets.key
*/*/secrets.key

*pycache*
*/*pycache*
*/*/*pycache*

*wandb*
*/*wandb*
*/*/*wandb*

*__pycache__*
*/*__pycache__*
*/*/*__pycache__*

*.ipynb_checkpoints*
*/*.ipynb_checkpoints*
*/*/*.ipynb_checkpoints*

*.DS_Store*
*/*.DS_Store*
*/*/*.DS_Store*

*DTLZ2-M*-d*
*/*DTLZ2-M*-d*
*/*/*DTLZ2-M*-d*

*optimize_M*_d*.config
*/*optimize_M*_d*.config
*/*/*optimize_M*_d*.config